services:
  db:
    image: postgres:16-alpine
    container_name: dashboard-db
    ports:
      - 5432:5432
    volumes:
      - dashboard-data:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      - PGDATA=/var/lib/postgresql/data
      - POSTGRES_USER=${POSTGRES_USER?Variable not set}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD?Variable not set}
      - POSTGRES_DB=${POSTGRES_DB?Variable not set}
    
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: dashboard-backend
    ports:
      - 8000:8000
    depends_on:
      - db
    env_file:
      - .env
    environment:
      - POSTGRES_SERVER=db
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}

volumes:
  dashboard-data: